@font-face {
  font-family: 'LemonMilk';
  src: url('../fonts/LemonMilk.eot');
  src: url('../fonts/LemonMilk.woff2') format('woff2'),
       url('../fonts/LemonMilk.woff') format('woff'),
       url('../fonts/LemonMilk.ttf') format('truetype'),
       url('../fonts/LemonMilk.svg#LemonMilk') format('svg'),
       url('../fonts/LemonMilk.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

img {
    width: 60%;
    height: auto;
}

body {
}

h1, h2, h3, h4 {
    font-family: LemonMilk;
}
.pure-menu-item {
    text-transform: uppercase;
    font-family: LemonMilk;
}

.jumbotron {
    font-family: LemonMilk;
    text-align: center;
    text-transform: uppercase;
}

.bomb-image {
    position: relative;
}


.bomb-image input {
    text-align: center;
    font-family: LemonMilk;
}

.suggestion-box {
    left: 0;
    position:absolute;
    text-align:center;
    top: 40%;
    width: 100%
}

.suggestion-box button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    font-family: LemonMilk;
}
