@font-face {
  font-family: 'LemonMilk';
  src: url('../fonts/LemonMilk.eot');
  src: url('../fonts/LemonMilk.woff2') format('woff2'),
       url('../fonts/LemonMilk.woff') format('woff'),
       url('../fonts/LemonMilk.ttf') format('truetype'),
       url('../fonts/LemonMilk.svg#LemonMilk') format('svg'),
       url('../fonts/LemonMilk.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

body {
}

h1, h2, h3, h4 {
    font-family: LemonMilk;
}
.pure-menu-item {
    text-transform: uppercase;
    font-family: LemonMilk;
}

.jumbotron {
    font-family: LemonMilk;
    text-align: center;
    text-transform: uppercase;
}

    
